<% provide(:title, @team.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="team_info">
      <h1>
        <%= @team.name %>
      </h1>
      <h2>
        <%= @team.value %>
      </h2>
      <h3>
        <% @users.each do |user| %>
            <li>
              <%= user.firstname %> <%= user.lastname %>: <%=user.email %>
            </li>
        <% end %>
      </h3>
    </section>
  </aside>
</div>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>