<% provide(:title, current_user.firstname + " " + current_user.lastname) %>

<div class="center bd-highlight mt-5 pl-3 pr-3">
  <div class="container-fluid center">
    <div class="row">
      <div class="col-2 center">
        <h6 class="font-weight-bold">
        <%= link_to current_user.firstname + "'s Homepage" , edit_user_registration_path %>
        </h6>
        <p><%=
        if @team.name.blank?
          link_to "Click to Join a team.", teams_path
        else
          @team.name + "'s Hub"
        end
        %>
        </p>
      </div>

      <div class="col center ">
        <h6>
          <b>Portfolio Total Value: </b><%=
          if @team.value.blank?
            number_to_currency("0")
          else
            number_to_currency(@team.value + @team.balance)
          end
          %>
        </h6>
        <i>Cash Value: <%= number_to_currency(@team.balance) %></i>
      </div>

      <div class="col-2 center">
        <%= button_to 'Suggest', new_suggestion_path,  {class: "btn btn-lg btn-info", :method => :get}  %>
      </div>
    </div>

    <div class="container" >
      <div class="row mt-2" style="height: 40em">
        <div class="col-3 user-hub m-2 border border-secondary rounded">

          <h5 class="font-weight-bold mt-1">Rankings</h5>

          <div class="d-flex flex-row justify-content-between">
              <div class="pt-1"><u>Team Name</u></div>
              <div class="pt-1"><u>Value</u></div>
          </div>

          <% @teams.each do |team|%>
            <div class="d-flex flex-row justify-content-between">
              <div class=""><%= link_to team_path(team.id), method: :get do %><%= team.name =%><% end %></div>
              <div class=""><%= number_to_currency(team.value + team.balance) %></div>
            </div>
          <% end %>

          <div class="paginate">
            <%= will_paginate @teams, :id => 'paginate', :param_name => 'team_page', inner_window: 1, outer_window: 1, :previous_label => '← Prev', :next_label => 'Next →' %>
          </div>

        </div>
        
        <div class="col mt-2">
            <div class="p-2 bg-info d-flex flex-column rounded" style="height: 40em" >
              <h4 class="font-weight-bold mt-1">Suggestions</h4>
              <table class="fixed_header">
                <thead class="bg-warning">
                  <tr>
                    <th>Buy/Sell</th>
                    <th>Ticker</th>
                    <th>Quantity</th>
                    <th>Vote</th>
                    <th>Total</th>
                  </tr>
                </thead>

                <tbody class="suggestion-body">

                  <% @suggestions.order(:cached_votes_score => :desc, :created_at => :asc).each do |suggestion|%>
                  <tr >
                    <!--Absolute Value for quanity - if negative, display Sell, if positive, Buy  -->
                    <% quant = suggestion.quantity %>
                    <td>
                      <% if (quant < 0) %>
                        <div class="sell">Sell</div>
                      <% else %>
                        <div class="buy">Buy</div>
                      <% end %>
                    </td>
                    <td><%= suggestion.ticker %></td>
                    <td><%= (quant).abs %></td>
                    <td>
                      <% if current_user.voted_up_on? suggestion %>
                        <%= link_to like_suggestion_path(suggestion), class: "btn btn-sm btn-like disabled", method: :put do %>Like<% end %>
                      <% else %>
                        <%= link_to like_suggestion_path(suggestion), class: "btn btn-sm btn-like", method: :put do %>Like<% end %>
                      <% end %>

                      <% if current_user.voted_down_on? suggestion %>
                        <%= link_to unlike_suggestion_path(suggestion), class: "btn btn-sm btn-unlike disabled", method: :put do %>Unlike<% end %>
                      <% else %>
                        <%= link_to unlike_suggestion_path(suggestion), class: "btn btn-sm btn-unlike", method: :put do %>Unlike<% end %>
                      <% end %>

                    </td>
                    <td>
                      <% if suggestion.weighted_score > @team.users.count / 2 %>
                        <%= link_to 'Execute', execute_suggestion_path(suggestion), class: "btn btn-sm btn-execute" %>
                      <% else %>
                      <%= suggestion.weighted_score %>
                      <% end %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>

                </table>
                <div class="paginate">
                  <%= will_paginate @suggestions, :id => 'paginate', :param_name => 'suggestion_page' %>
                </div>
            </div>
            *Sorted by: Total Votes, Creation Date*
        </div>

        <div class="col-4 user-hub m-2 border border-secondary rounded">
          <h5 class="font-weight-bold mt-1">Holdings</h5>
          <% if @teams.blank? %>
            <div class="d-flex flex-row justify-content-between">
                <div class="pt-1"><u>No Team! <%= link_to "Join a team.", join_team_path %></u></div>
            </div>
          <% else %>
          <div class="col mt-2 p-1">
            <div class="d-flex flex-column">
              <table class="fixed_header">
                <thead>
                  <tr>
                    <th>Ticker</th>
                    <th>Quanity</th>
                    <th>Price</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <% @stocks.each do |stock|%>
                  <tr>
                    <td><%= stock["ticker"] %></td>
                    <td><%= stock["quantity"] %></td>
                    <td><%= number_to_currency(stock["price"]) %></td>
                    <td><%= number_to_currency(stock["value"]) %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              <div class="paginate">
                <%= will_paginate @stocks, :id => 'paginate', :param_name => 'holding_page' %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%# <%= link_to "Edit your profile.", edit_user_registration_path %>

<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          Micromodal
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <p>
        Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself. Also, <code>esc</code> to close modal.
        </p>
      </main>
      <footer class="modal__footer">
        <button class="modal__btn modal__btn-primary">Continue</button>
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </footer>
    </div>
  </div>
</div>
