<%# <%= render 'form', suggestion: @suggestion %>

<% provide(:title, 'New Suggestion') %>
<div class="wrapper">

    <%= form_for(@suggestion, :html => {:class => 'form-signin'}) do |f| %>
      <h1 style="font-weight: bold;">New Suggestion</h1>
      <%= f.text_field :quantity, autofocus: true, class: 'form-control', placeholder: 'Quantity', required: true  %>
      <%= f.text_field :ticker, autofocus: true, class: 'form-control', placeholder: 'Ticker Symbol', required: true %>
      <%= f.submit "Create Suggestion", class: "btn btn-primary" %>
    <% end %>

</div>
