<footer class="footer">

  <small>
    2019 (c) Poolfolio
  </small>
  <nav id="navbar navbar-right">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Get Started", new_user_registration_path %></li>
      <li><%= link_to "Log In", new_user_session_path %></li>
    </ul>
  </nav>
</footer>
